
body{
    font-family: 'Helvetica Neue', sans-serif;
                                    
}
.picture{
    position: absolute;
    display: flex;
    margin-top: -90px;
    width: 102%;
    margin-left: -30px;
    height: 102%;

}
.background{
    width: 100%;

}
.weather-tab-container{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    margin-top:90px;
    background-color: rgb(255, 253, 253);
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    border-color: none;
    border-width: 1px;
    border-style: none;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0px solid rgba(255, 255, 255, 0.3);
}
.searchbox-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.searchbox{
    box-sizing: border-box;
    border-style: solid;
    border-width: .01px;
    width: calc(100%-40px);
    height: 30px;
    text-align: center;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.17);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 0px solid rgba(255, 255, 255, 0.3);
    /* margin to keep some space between text box and image */

}
.submit{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0px solid rgba(255, 255, 255, 0.3);

}
.submit:hover{
    background-color: rgb(182, 182, 255);
    cursor: pointer;
    transition: .5s;

}
.button-box{
    right: 0 auto;
    width: 30px;
    margin-left: -30px;
}
.date-time-container{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
}
.date{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    margin-bottom: -10px;
}
.current-weather-info{
    border: none;
    border-color: rgb(92, 82, 82);
    border-width: .5px;
    border-radius:10px ;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    height: 250px;

}
.current-weather-picture{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
.weather-picture{
    width:200px;
    height: 190px;
}
.current-city{
    display: block;
    font-weight: bold;
}
.weather-specifics{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.temperature{
    border: none;
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    font-weight: bold;

}
.divider{
    margin-top: 8px;
}

.farhenheit{
    padding-right: 5px;
    font-size: 30px;
}
.celcius{
    padding-left: 5px;
    font-size: 30px;
}

