<!DOCTYPE html>
<html>
  <head>
    <title>Where to?</title>
    <link rel="stylesheet" href='/static/css/lander.css'/>

  </head>
  <body>
    <div class="picture">
      <img class="background" src=/static/images/rain.gif >
    </div>
      <div class="wrapper">
    <div class="searchbox-container">
      <form id="weatherForm" method="GET" action="/test">
          <div class="searchbox-container">
          <input class="searchbox" name="city" placeholder="Enter a city">
          <div class="button-box">
              <button class="submit" type="submit"><ion-icon name="cloud-outline"></ion-icon></button>




      </form>
      
  </div>



</div>
<div class="banner">Where to?</div> 
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>