<!DOCTYPE html>
<html>
    <head>
        <title>Weathertrip</title>
        <link rel="stylesheet" href='/static/css/weather.css'/>

    </head>
    <body>
        <div class="picture">
        <img class="background" src={{videoexecute}} ></div>
        <div class="weather-tab-container">
            <div class="searchbox-">
                <form id="weatherForm" method="GET" action="/test">
                    <div class="searchbox-container">
                    <input class="searchbox" name="city" placeholder="Enter a city">
                    <div class="button-box">
                        <button class="submit" type="submit"><ion-icon name="cloud-outline"></ion-icon></button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="date-time-container">
                <div class="date">
                    {{current_date}}
                </div>
            </div>
            <div class="current-weather-info">
                <div class="current-weather-picture">
                    <img class= "weather-picture" src= {{iconexecute}}>
                </div>
                <div class="weather-specifics">
                <div class="current-city">{{weather.city}}</div>
                <div class="temperature">
                    <div class="farhenheit">{{farh}}&deg;F</div>
                    <div class="divider">&#124;</div>
                    <div class="celcius">{{celsius}}&deg;C</div>
                    </div>
                </div>
            </div>
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        </div>
    </body>
</html>
